/* line 1, /Users/ddiaz/pprojects/blog/themes/casper/source/css/classes/header.scss */
.site-head {
  position: relative;
  display: table;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 5rem;
  text-align: center;
  color: #fff;
  background: #303538 no-repeat center center;
  background-size: cover;
  /* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
  /* The details of your blog. Defined in ghost/settings/ */ }
  /* line 12, /Users/ddiaz/pprojects/blog/themes/casper/source/css/classes/header.scss */
  .site-head .blog-logo {
    text-decoration: none; }
  /* line 16, /Users/ddiaz/pprojects/blog/themes/casper/source/css/classes/header.scss */
  .site-head .blog-logo img {
    display: block;
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    line-height: 0;
    border-radius: 360px; }
  /* line 25, /Users/ddiaz/pprojects/blog/themes/casper/source/css/classes/header.scss */
  .site-head .blog-title {
    margin: 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); }
  /* line 33, /Users/ddiaz/pprojects/blog/themes/casper/source/css/classes/header.scss */
  .site-head .blog-description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 300;
    font-family: 'Noto Serif', serif;
    letter-spacing: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
